{% extends "base.html" %}
{% block content %}
<hr>
<div class="letter-address">
    <p> 8th October 2024</p>
    <p>The Branch Service Manager</p>
    <p><strong>Providus Bank Plc</strong></p>
    <p>724 Adetokunbo Ademola Street</p>
    <p>Victoria Island</p>
    <p>Lagos State</p>
</div>

    <p><strong>Dear Sir/Ma,</strong></p>
    
    <div style="border-bottom: 1px solid #F1F1F5; margin-bottom: 10px;">
        <p><strong class="underline">SEARCH REPORT ON {{ company_name }}</strong></p>
    </div>
    
    <p>The above subject refers.</p>
    <p>Kindly find below the search report conducted on the referenced company:</p>

    <table>
        <tr>
            <td><strong>DATE OF SEARCH:</strong></td>
            <td>8th October 2024</td>
        </tr>
        <tr>
            <td><strong>NAME of COMPANY:</strong></td>
            <td>{{ company_name }}</td>
        </tr>
        <tr>
            <td><strong>TYPE OF COMPANY:</strong></td>
            <td>Business Name</td>
        </tr>
        <tr>
            <td><strong>REGISTRATION NUMBER:</strong></td>
            <td>BN {{ registration_number }}</td>
        </tr>
        <tr>
            <td><strong>DATE OF INCORPORATION:</strong></td>
            <td>{{ incorporation_date }}</td>
        </tr>
        <tr>
            <td><strong>MAIN OBJECT:</strong></td>
            <td>{{ main_object }}</td>
        </tr>
        <tr>
            <td><strong>REGISTERED ADDRESS:</strong></td>
            <td>{{ registered_address }}</td>
        </tr>
        <tr>
            <table>
                <thead>
                    <tr>
                        <th>PROPRIETOR(s)</th>
                        <th>ADDRESS</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proprietor in proprietors %}
                    <tr>
                        <td>{{ proprietor.name }}</td>
                        <td>{{ proprietor.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </tr> 
        <table>
            <tr>
                <td><strong>Annual Returns:</strong></td>
                <td>Nil</td>
            </tr>
            <tr>
                <td><strong>Comment:</strong></td>
                <td>Nil</td>
            </tr>
            <tr>
                <td><strong>Remarks:</strong></td>
                <td>The Company is duly registered</td>
            </tr>
        </table>
       
    </table>
{% endblock %}
