{% extends "base.html" %}
{% block content %}
<hr>
<div class="letter-address">
    <p> 8th October 2024</p>
    <p>The Branch Service Manager</p>
    <p><strong>Providus Bank Plc</strong></p>
    <p>724 Adetokunbo Ademola Street</p>
    <p>Victoria Island</p>
    <p>Lagos State</p>
</div>
    <p><strong>Dear Sir/Ma,</strong></p>
    
    <div style="border-bottom: 1px solid #F1F1F5; margin-bottom: 10px;">
        <p><strong class="underline">SEARCH REPORT ON {{ company_name }}</strong></p>
    </div>
    
    <p>The above subject refers.</p>
    <p>Kindly find below the search report conducted on the referenced company:</p>

    <table>
        <tr>
            <td><strong>Date of Search:</strong></td>
            <td>8th October 2024</td>
        </tr>
        <tr>
            <td><strong>Name of Company:</strong></td>
            <td>{{ company_name }}</td>
        </tr>
        <tr>
            <td><strong>Type of Company:</strong></td>
            <td>Limited by Guarantee</td>
        </tr>
        <tr>
            <td><strong>Registration Number:</strong></td>
            <td>{{ registration_number }}</td>
        </tr>
        <tr>
            <td><strong>Date of Incorporation:</strong></td>
            <td>{{ incorporation_date }}</td>
        </tr>
        <tr>
            <td><strong>Main Object:</strong></td>
            <td>{{ main_object }}</td>
        </tr>
        <tr>
            <td><strong>Registered Address:</strong></td>
            <td>RC {{ registered_address }}</td>
        </tr>
        
        <table>
            <thead>
                <tr>
                    <br></br>
                    <th>DIRECTORS AT INC</th>
                    <th>ADDRESS</th>
                </tr>
            </thead>
            <tbody>
                {% for director in directors %}
                <tr>
                    <td>{{ director.name }}</td>
                    <td>{{ director.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </tr>
    <tr>
        <table>
            <thead>
                <tr>
                    <th>CURRENT DIRECTORS</th>
                    <th>ADDRESS</th>
                </tr>
            </thead>
            <tbody>
                {% for director in directors %}
                <tr>
                    <td>{{ director.name }}</td>
                    <td>{{ director.address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </tr>
    <table>
        <thead>
            <tr>
                <th>GUARANTORS</th>
                <th>ADDRESS</th>
            </tr>
        </thead>
        <tbody>
            {% for director in directors %}
            <tr>
                <td>{{ director.name }}</td>
                <td>{{ director.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>COMPANY SECRETARY</th>
                <th>ADDRESS</th>
            </tr>
        <tr>
            {% if company_sec %}
            <td>{{ company_sec.name or "Nil" }}</td>
            <td>{{ company_sec.address or "Nil" }}</td>
            {% else %}
            <td>Nil</td>
            <td></td>
            {% endif %}
        </tr>
    </table>
    <table>
        <tr>
            <td><strong>Annual Returns:</strong></td>
            <td>Nil</td>
        </tr>
        <tr>
            <td><strong>Borrowing Powers:</strong></td>
            <td>Paid</td>
        </tr>
        <tr>
            <td><strong>Debentures:</strong></td>
            <td>Paid</td>
        </tr>
        <tr>
            <td><strong>Comment:</strong></td>
            <td>Nil</td>
        </tr>
        <tr>
            <td><strong>Remarks:</strong></td>
            <td>The Company is duly registered</td>
        </tr>
    </table>
    </table>
{% endblock %}