<header>
    <img src="https://raw.githubusercontent.com/eformeh/zell/0d47fa809c7c3d383ccb4fc3a3a6dc22c8bf7281/static/images/logo.jpg" alt="Logo">
    <h1>IRENE BELLO & CO</h1>
    <h2>Advocates, Solicitors, Arbitrators, Property/Investment & Corporate Consultants</h2>

    <div class="company-details">
        <p>CHAMBERS</p>
        <p>41/42 Ago Place Way, Triangle Plaza, First Floor</p>
        <p>Tarred Road Bus Stop, Okota, Lagos, Nigeria</p>
        <p>Tel: 08033701111, 08125768506</p>
        <p>Email: irenebello@live.com</p>
    </div>
</header>
